@layer theme, base, components, utilities;

@import "tailwindcss";
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(base);
@import "tailwindcss/preflight" layer(utilities);

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #111625;
	color: #fff;
}
